.bi{
    color: white;
}
.img{ 
    height: 40px;
    margin-top: 10px;
}
.d-flex{
    width: 80%;
}
.im{
    width: 30px;
}
.my-3{
    width: 250px;
}
.h5{
    font-weight: 600;
}
.p-0{
    list-style: none;
    cursor: pointer;
}