* {
  box-sizing: border-box;
}

.navbar {
  opacity: 0.9;
  color: chocolate;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.cls {
  background-color: #113946 !important;
}

.caro1 + img {
  width: 100%;
}

.card {
  display: flex;
  display: inline-block;
}

.cards {
  height: min-content;
  gap: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cards img {
  height: 12rem;
  margin-bottom: 2rem;
}

.caro {
  margin-bottom: 2rem;
}

.caro1 img {
  /* margin-top: 6rem; */
  width: 100%;
  height: 600px;
}

.one:hover {
  transition: all linear 0.5s;
  transform-origin: center;
  transform: translateY(-1rem);
}

.card-overlay {
  position: relative;
}

.overlay-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
*/ .card:hover .overlay-icons {
  opacity: 1;
}

.one {
  background-color: #a0adb4;
}

.one:hover {
  background-color: #f8eddc;
}

.loc {
  margin: 2rem;
}

.two:hover {
  background-color: #113946;
}

.form2 {
  background-color: #ead7bb;
}

.three {
  background-color: #113946;
}

.four {
  background-color: #fff2d8;
}

.five {
  background-color: #113946 !important;
}

.container {
  color: white;
}

.fl {
  width: 80%;
}
.i1 {
  width: 30px;
}
.my-3 {
  width: 250px;
}
.h5 {
  font-weight: 600;
}
.p-0 {
  list-style: none;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .caro1 img {
    width: 74%;
    height: 70%;
  }
}

@media (max-width: 1300px) {
  .navbar {
    margin-right: 6rem;
  }
}

@media (max-width: 1300px) {
  footer,
  .cards,
  .card,
  .form2 {
    width: 74%;
    margin-right: 2rem;
    margin-left: 1rem;
  }
}
